.noteCreator {
  background-color: #fff;
}

.noteCreator .textArea {
  color: #000;
}

.noteContainer {
  border: 1px solid var(--yellow);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.editNotePopup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.editNotePopup .notesEditContainer,
.editNotePopup .buttonsContainer {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 500px;
  min-height: 500px;
  background-color: #fefefe;
  border-radius: 15px;
  z-index: 1;
}

.editNotePopup .buttonsContainer {
  background-color: transparent;
}

.editNotePopup .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.editNotePopup .editTextArea {
  color: #333;
}

.tabsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px 0;
  text-transform: uppercase;
}

.tabsContainer .tab {
  display: inherit;
  background-color: var(--grey);
  padding: 5px 10px 5px 15px;
  color: var(--black);
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}

.tabsContainer .tab .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .8em;
  width: 18px;
  height: 18px;
  margin-left: 5px;
  border-radius: 50%;
  border: 1px solid var(--black);
  pointer-events: none;
}

.tabsContainer .tab .count.done {
  background-color: green;
  color: #fff;
}

.tabsContainer :hover {
  opacity: 0.7;
}

.reminderItemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin: 20px 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 10px;
}

.reminderItemContainer .title.name {
  font-size: 1.3em;
  font-weight: 700;
  color: var(--yellow);
}

.reminderItemContainer .title {
  font-size: 1em;
  font-weight: 300;
}

:root {
  --blue: #3498db;
  --yellow: #f1c40f;
  --orange: #f39c12;
  --green: #2ecc71;
  --black: #212121;
  --grey: #ecf0f1;
}

html, body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  color: #fff;
  background: #2b5876;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#4e4376), to(#2b5876)) fixed;
  background: linear-gradient(to left, #4e4376, #2b5876) fixed;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
}

html .hidden, body .hidden {
  display: none !important;
}

html .logo, body .logo {
  position: fixed;
  left: 25px;
  top: 8px;
  height: 40px;
  width: 110px;
  z-index: 1001;
}

html .logo img, body .logo img {
  width: 100%;
}

html h2, body h2 {
  padding-bottom: 10px;
  color: var(--yellow);
  border-bottom: 1px solid white;
}

html .invert, body .invert {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

html .icon, body .icon {
  float: right;
  height: 10px;
  width: 10px;
  padding: 0 7px;
  cursor: pointer;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

html .icon img, body .icon img {
  width: 100%;
  pointer-events: none;
}

html .icon:hover, body .icon:hover {
  opacity: .7;
}

html .icon.editBtn,
html .icon.doneBtn,
html .icon.notDoneBtn, body .icon.editBtn,
body .icon.doneBtn,
body .icon.notDoneBtn {
  height: 14px;
  width: 14px;
}

html .icon.shareBtn, body .icon.shareBtn {
  height: 17px;
  width: 11px;
}

html .icon.snoozeBtn, body .icon.snoozeBtn {
  height: 17px;
  width: 9px;
}

html .navbar, body .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  background-color: var(--black);
  opacity: 0.9;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  z-index: 1000;
}

html .navbar a.nav, body .navbar a.nav {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
  font-size: 1.1em;
  margin: 0 50px;
  cursor: pointer;
}

html .navbar :hover, body .navbar :hover {
  opacity: 0.8;
}

html .loginContainer, body .loginContainer {
  position: fixed;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 1000;
}

html button, body button {
  width: 100px;
  font-size: 1em;
  font-weight: bold;
  background-color: var(--blue);
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 5px 0;
  margin-top: 20px;
  cursor: pointer;
}

html input, body input {
  font-size: 1em;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 10px;
  color: #fff;
  outline: none;
}

html ::-webkit-input-placeholder, body ::-webkit-input-placeholder {
  color: #ddd;
}

html :-ms-input-placeholder, body :-ms-input-placeholder {
  color: #ddd;
}

html ::-ms-input-placeholder, body ::-ms-input-placeholder {
  color: #ddd;
}

html ::placeholder, body ::placeholder {
  color: #ddd;
}

html ::-webkit-calendar-picker-indicator, body ::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(1);
          filter: invert(1);
}

html label, body label {
  margin: 10px 0;
  font-size: 1.3em;
  font-weight: bold;
  color: var(--orange);
}

html .ql-formats button, body .ql-formats button {
  margin-top: 0;
}

html main, body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html main .wrapper h1, body main .wrapper h1 {
  color: var(--yellow);
}

html main .wrapper .homeContainer, body main .wrapper .homeContainer {
  margin-top: 15%;
}

html main .wrapper .homeContainer .banner, body main .wrapper .homeContainer .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 600px;
  min-height: 300px;
  position: relative;
  padding: 30px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 1;
}

html main .wrapper .homeContainer .banner .listItem, body main .wrapper .homeContainer .banner .listItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

html main .wrapper .homeContainer .banner .listItem .name, body main .wrapper .homeContainer .banner .listItem .name {
  font-weight: 700;
  margin-right: 5px;
}

html main .wrapper .homeContainer .banner .listItem .count, body main .wrapper .homeContainer .banner .listItem .count {
  font-weight: 300;
}

html main .wrapper .homeContainer .banner .category, body main .wrapper .homeContainer .banner .category {
  min-width: 400px;
}

html main .wrapper .sectionContainer, body main .wrapper .sectionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
}

html main .wrapper .tasksListContainer, body main .wrapper .tasksListContainer {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 0;
}

html main .wrapper .tasksListContainer h2, body main .wrapper .tasksListContainer h2 {
  padding-bottom: 10px;
  color: var(--yellow);
  border-bottom: 1px solid white;
}

html main .wrapper .tasksListContainer li, body main .wrapper .tasksListContainer li {
  position: relative;
  padding-bottom: 20px;
  list-style: none;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

html main .wrapper .tasksListContainer li .name, body main .wrapper .tasksListContainer li .name {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 10px;
}

html main .wrapper .tasksListContainer li .description, body main .wrapper .tasksListContainer li .description {
  font-size: 1em;
  font-weight: 300;
}

html main .wrapper .tasksListContainer li button.savebtn, body main .wrapper .tasksListContainer li button.savebtn {
  margin-top: 10px;
  cursor: pointer;
}

html main .wrapper .tasksListContainer li .editBtns, body main .wrapper .tasksListContainer li .editBtns {
  position: absolute;
  top: 0;
  right: 0;
}

html main .wrapper .tasksListContainer li .editBtns .tag, body main .wrapper .tasksListContainer li .editBtns .tag {
  font-size: .9em;
  cursor: pointer;
  margin-bottom: 10px;
}

body::-webkit-scrollbar {
  width: .5em;
}

body::-webkit-scrollbar-thumb {
  background-color: #786fa6;
  outline: 1px solid transparent;
  border-radius: 15px;
  border: none;
}
/*# sourceMappingURL=main.css.map */